<% checkout_form.fields_for :gift_options do |gift_opts_form| %>
<fieldset id="gift_options">
  <legend><%= t("checkout_steps.giftopts") %></legend>
  <div class="inner">
    <div id="options">
      <% @order.line_items.each do |item| -%>
        <% gift_opts_form.fields_for "line_items[#{item.id}]" do |gift_item| -%>
          <p class="field">
            <%= item.variant.product.name %> 
            <ul class="gift-options-list">
      	      <li>
      		      <strong>Don't want gift Options</strong>
      	      </li>
              <% @gift_options.each do |gift_option| -%>
                <li class="gift-option-item">
              		<h4><%= gift_option.name %></h4>
              		<ul>
              		  <% gift_option.gift_choices.each do |choice| -%>
              		    <li>
              		      <%= gift_item.radio_button :choice_id, choice.id %>
              		      <%= image_tag(choice.image.url) %>
              		      <strong><%= choice.name %></strong>
              		    </li>
              		  <% end -%>
              		</ul>
                </li>
              <% end -%>
            </ul>
          </p>
        <% end -%>
      <% end -%>
    </div>
  </div>
</fieldset>
<% end %>